@keyframes animationTrial {
    0% {
    width: 100px;
    background-color: rgb(126, 58, 58);
    }
    50% {
    width: 400px;
    background-color: rgb(150, 126, 55);
    }
    100% {
    width: 200px;
    background-color: rgb(30, 30, 65);
    }
    }

#page-main {
    display: grid;
    object-fit: cover;
    
}

.h1 {
    width: 50%;
    background-color: aquamarine;
    transition: all 1s ease-in-out;
}

.h1:hover {
    width: 80%;
    background-color:darkorchid;
}

h2 {
    background-color: darkgreen;
    font-size: 50px;
}

h2:hover {
    animation-name: animationTrial;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: 3;
}