#page-main {
    display: grid;
    object-fit: cover;
    
}

.h1 {
    width: 50%;
    background-color: aquamarine;
    transition: all 1s ease-in-out;
}

.h1:hover {
    width: 80%;
    background-color:darkorchid;
}